version: '3.8'

services:
  elysia-landing:
    build:
      context: .
      dockerfile: Dockerfile
    image: elysia-landing:latest
    container_name: elysia-landing
    restart: always
    labels:
      - "traefik.enable=true"
      # Using your new domain here!
      - "traefik.http.routers.elysia-landing.rule=Host(`${DOMAIN}`)"
      - "traefik.http.routers.elysia-landing.entrypoints=websecure"
      - "traefik.http.routers.elysia-landing.tls.certresolver=myresolver"
      # Nginx in the Dockerfile serves on port 80
      - "traefik.http.services.elysia-landing.loadbalancer.server.port=80"
    networks:
      - elysia-weather_default

networks:
  elysia-weather_default:
    external: true
